/*Import Google Font Raleway For Headings and Open Sans For Body Text*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*CSS variables*/
:root {
    
    --primary-font: 'Open Sans', sans-serif;
    --secondary-font: 'Raleway', sans-serif; /*Used for headings and titles*/
    
    /*Colors for no Background*/
    --primary-color: #122b18; /*Celtic Green used for main font color*/
    --primary-color-light: #368047; /*Lighter green for subheadings*/

    /*Colors for with Background*/
    --secondary-color: #F8F8F8; /*Alabaster color to be used for Fonts*/
    --highlight-color: #000000; /*Black for highlights*/
    --background-color: #57D575; /*Emerald green background*/
    --background-color-dark: #348046; /*Dark green background*/
    --gradient-background: linear-gradient(to bottom, #57D575 0%, #122b18 100%);
}

/*General Styles*/
body {
    font-family: var(--primary-font);
    color: var(--primary-color);
}

.sub-heading-color {
    color: var(--primary-color-light);
}

h1, h2, h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    text-transform: uppercase;
}

.section { /*Heading margin styles for top and bottom spacing*/
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.text-margin-paragraph { /* Paragraph margin styles for top and bottom spacing*/
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.small-screen-text{
    text-align: center;
}

/* Carousel */
.image-width {
    width: 280px;
}

/* Navbar styles with dropdown toggle*/

#navbar {
    background-color: var(--background-color-dark);
}

#navbar .logo {
    width: 100px;
}

/*Header Styles*/
#top .lead {
    font-family: var(--secondary-font);
}

/*Buy Now style*/
.buy-now {
    text-align: center;
    background-color: var(--background-color);
    margin-top: 10px;
}

.buy-now a {
    text-decoration: none;
    font-size:xx-large;
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-weight: bold;
    text-transform: uppercase;
}

/*Basics Page*/
.jump {
    text-align: center;
    padding: 20px 0;
    display:flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.jump li{
    font-size: 100%;
    padding: 5%;
    color: var(--primary-color)
}

/*Footer style*/
.main-footer {
    background-image: var(--gradient-background);
}

.copyright {
    color: var(--secondary-color);
    text-align: center;
}

.social {
    text-align: center;
    padding: 20px 0;
    display:flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.social i {
    font-size: 160%;
    padding: 5%;
    color: var(--secondary-color);
}

/* Media query for screens larger than 1200px */
@media screen and (min-width: 1200px) {
    .large-screen-text {
        text-align: left;
    }

}

/*Media query: desktops and larger (992px and up)*/
@media screen and (min-width:992px) {
    .desktop-screen-text {
        text-align: left;
    }
}